* {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.nav__responsive-ul {
  display: none;
}

.nav {
  background-color: darkslateblue;
}

.nav__li {
  display: inline-block;
  padding: 12px;
  color: #fff;
}

.nav__li a {
  color: #fff;
  text-decoration: none;
}

.nav__li:hover > a {
  color: #bbb;
}

.nav__li:hover {
  color: #bbb;
}

.nav__li i {
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}
